<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ff.png" type="image/x-icon">  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/1.1.0/url-search-params.js"></script>
  <script src="https://jic.talkingdata.com/app/h5/v1?appid=69EAA7854C7D4E02954210DA6113BD68&vc=1.0"></script>
  <title>问聊-让生活有温度</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>