.wrap {
  background: #ffffff;
  padding-top: 18vh;
  height: 100%;
  position: relative;
}

.infoWrap {
  text-align: center;
}

.logo {
  width: 2rem;
}

.slogan {
  text-align: center;
  font-size: 0.4rem;
}

.downloadWrap {
  position: absolute;
  width: 100%;
  bottom: 16vh;
}

.download {
  text-decoration: none;
  display: block;
  font-size: 0.4rem;
  color: #ffffff;
  background: #ff4050;
  border-radius: 45px;
  width: 80%;
  padding: 0.3rem;
  margin: 0 auto;
  margin-bottom: 0.7rem;
  text-align: center;
}

.copyright {
  margin-left: 50%;
  position: absolute;
  bottom: 8px;
  transform: translateX(-50%);
  width: 100%;
}

.copyright p {
  text-align: center;
  font-size: 0.3rem;
  color: #8a8a8f;
}
